.notfound{
    margin-top: 20%;
}
.notfound h1{
    font-size: 35px;
    font-weight: bold;
}

.notfound p{
    margin-bottom: 28px;
    font-size: 1rem;
}

.notfound a:hover{
    background-color: #69d0ff;
}

.notfound a{
    border-radius: 5px;
    padding: .8rem 1.2rem;
    background-color: #299CD3;
    color: white;
    transition: .3s linear all;
}